@model WebApplication1.Models.EventModel
@{
    ViewBag.Title = "NewEvents";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Crear Evento</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!-- CSS Libs -->
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/iCheck/skins/flat/_all.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/DataTables/media/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/bower_components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/vendor/css/dataTables.bootstrap.css">
    <!-- CSS App -->
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/FlatAdmin/flat-admin/css/themes.css">
</head>
<body class="flat-blue">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="app-container">
        <div class="row content-container">
            <!-- Main Content -->
            <div class="container-fluid">
                <div class="side-body">
                    <div class="page-title">
                        <span class="title">Crear Evento</span>
                        <div class="description">Crea tu propio evento</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-title">
                                        <div class="title">Ingrese los Datos</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="Datos">Nombre de Evento</label>
                                            @Html.EditorFor(model => model.tbl_evento_nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre Evento" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_nombre, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Descripcion</label>
                                            @Html.EditorFor(model => model.tbl_evento_desc, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descripcion" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_desc, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Lugar</label>
                                            @Html.EditorFor(model => model.tbl_evento_lugar, new { htmlAttributes = new { @class = "form-control", @placeholder = "Lugar" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_lugar, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Duracion</label>
                                            @Html.EditorFor(model => model.tbl_evento_duracion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Horas", @type = "number", @min = "0" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_duracion, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Fecha de Inicio</label>
                                            @Html.EditorFor(model => model.tbl_evento_fecha_inicio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Inicio", @type = "datetime-local" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_fecha_inicio, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Fecha de Finalizacion</label>
                                            @Html.EditorFor(model => model.tbl_evento_fecha_fin, new { htmlAttributes = new { @class = "form-control", @placeholder = "Inicio", @type = "datetime-local" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_fecha_fin, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Categoria de Evento</label>
                                            @Html.EditorFor(model => model.tbl_cat_evento_id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Numero De Categoria", @type = "number", @min = "1"} })
                                            @Html.ValidationMessageFor(model => model.tbl_cat_evento_id, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Presupuesto</label>
                                            @Html.EditorFor(model => model.tbl_evento_presupuesto, new { htmlAttributes = new { @class = "form-control", @placeholder = "$ 00.00", @type = "number", @min = "0", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_presupuesto, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Precio</label>
                                            @Html.EditorFor(model => model.tbl_evento_precio, new { htmlAttributes = new { @class = "form-control", @placeholder = "$ 00.00", @type = "number", @min = "0", @step = "0.1" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_precio, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label for="Datos">Url</label>
                                            @Html.EditorFor(model => model.tbl_evento_url, new { htmlAttributes = new { @class = "form-control", @placeholder = "URL", @type = "url" } })
                                            @Html.ValidationMessageFor(model => model.tbl_evento_url, "", new { @class = "text-danger" })
                                        </div>
                                        <!--<div class="form-group">
                                            <label for="exampleInputFile">File input</label>
                                            <input type="file" id="exampleInputFile">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>-->
                                        <div class="checkbox">
                                            <label> Jurado
                                                @Html.EditorFor(model => model.tbl_evento_cal_jurado, new { htmlAttributes = new { @class = "input-checkbox", @type = "hidden", @value = "false" } })
                                                @Html.EditorFor(model => model.tbl_evento_cal_jurado, new { htmlAttributes = new { @class = "input-checkbox", @type = "checkbox", @value = "true" } })
                                                @Html.ValidationMessageFor(model => model.tbl_evento_cal_jurado, "", new { @class = "text-danger" })
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label> Pueblo
                                                @Html.EditorFor(model => model.tbl_evento_cal_pueblo, new { htmlAttributes = new { @class = "input-checkbox", @type = "hidden", @value = "false" } })
                                                @Html.EditorFor(model => model.tbl_evento_cal_pueblo, new { htmlAttributes = new { @class = "input-checkbox", @type = "checkbox", @value = "true" } })
                                                @Html.ValidationMessageFor(model => model.tbl_evento_cal_pueblo, "", new { @class = "text-danger" })
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-default">Crear</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- Javascript Libs -->
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/chartjs/Chart.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/iCheck/icheck.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/matchHeight/jquery.matchHeight-min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/bower_components/select2/dist/js/select2.full.min.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/vendor/js/dataTables.bootstrap.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/vendor/js/ace/ace.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/vendor/js/ace/mode-html.js"></script>
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/vendor/js/ace/theme-github.js"></script>
            <!-- Javascript -->
            <script type="text/javascript" src="~/Content/FlatAdmin/flat-admin/js/app.js"></script>
            </div>
        </div>
}
</body>
</html>


