@model WebApplication1.Models.UserModel
@{
    Layout = null;
    ViewBag.Title = "Register";
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <title>#HackPro Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/TLogIn2/LoginRegistrationForm/css/style.css" rel="stylesheet" />
    <link href="~/Content/TLogIn2/LoginRegistrationForm/css/animate-custom.css" rel="stylesheet" />
    <link href="~/Content/TLogIn2/LoginRegistrationForm/css/demo.css" rel="stylesheet" />
    <link rel="shortcut icon" href="../favicon.ico">
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <!-- Codrops top bar -->
            <div class="codrops-top">
                <span class="right">
                    <a href=" http://www.unitec.edu">
                        <strong>UNITEC</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
            <header>
                <h1><span>#HackPro </span>Honduras</h1>
            </header>
            <section>
                <div id="container_demo">
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">
                        <div id="register" class="animate form">
                            <form action="" method="post" autocomplete="on">
                                <h1> Registrate </h1>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Primer Nombre</label>
                                    @Html.EditorFor(model => model.PNombre, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Nombre" } })
                                    @Html.ValidationMessageFor(model => model.PNombre, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Segundo Nombre</label>
                                    @Html.EditorFor(model => model.SNombre, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Nombre" } })
                                    @Html.ValidationMessageFor(model => model.SNombre, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Primer Apellido</label>
                                    @Html.EditorFor(model => model.PApellido, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Apellido" } })
                                    @Html.ValidationMessageFor(model => model.PApellido, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Segundo Apellido</label>
                                    @Html.EditorFor(model => model.PApellido, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Apellido" } })
                                    @Html.ValidationMessageFor(model => model.PApellido, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail" data-icon="e">Correo</label>
                                    @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @type = "email", @placeholder = "Correo@Direc.com" } })
                                    @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Contraseña </label>
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Constraseña" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Confirmar Contraseña </label>             
                                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Confirmar Contraseña" } })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    <!---<input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO" /> -->
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Genero</label>
                                    @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "M/F" } })
                                    @Html.ValidationMessageFor(model => model.Genero, "", new { @class = "text-danger" })
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Fecha de Nacimiento</label>
                                    @Html.EditorFor(model => model.FechaN, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "DD/MM/AAAA" } })
                                    @Html.ValidationMessageFor(model => model.FechaN, "", new { @class = "text-danger" })
                                </p>
                                <label for="usernamesignup" class="uname" data-icon="u">Ocupacion</label>
                                @Html.EditorFor(model => model.FechaN, new { htmlAttributes = new { @class = "form-control", @type = "text", @placeholder = "Ocupacion" } })
                                @Html.ValidationMessageFor(model => model.FechaN, "", new { @class = "text-danger" })
                                <p class="signin button">
                                    <input type="submit" value="Registrate" />
                                </p>
                                <p class="change_link">
                                    Ya tienes una cuenta?
                                    <a href="@Url.Action("LogIn", "LogIn")" class="to_register"> Conectate Aqui! </a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    }
</body>
</html>